.header {
  position: relative;
  margin-bottom: 30px;
}

.header__wrapper {
  position: relative;
  background-color: $color-black;
  width: 100%;
  min-height: 825px;
  background-image: url("../img/desckbike.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/deskbike@2x.jpg");
  }

  @media (max-width: $tablet-width-max) {
    background: none;
    min-height: 0;
  }
}

.header__contain {
  max-width: 880px;
  margin: 0 auto;
  color: $color-white;
  display: flex;
  justify-content: space-between;
  padding-top: 261px;

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0;
    max-width: 100%;
  }
}

.header__bike {
  @media (max-width: $tablet-width-max) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-black;
    background-image: url("../img/tablebike.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 340px;
    padding: 25px 21px;
    width: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablebike@2x.jpg");
    }
  }

  @media (max-width: $mobile-width-max) {
    background-image: url("../img/mobilebike.jpg");
    min-height: 390px;
    padding: 25px 18px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobilebike@2x.jpg");
    }
  }
}

.header__promo {
  max-width: 400px;
  margin-top: 46px;

  @media (max-width: $tablet-width-max) {
    max-width: 480px;
    margin-top: 56px;
  }
}

.header__promo h1 {
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005em;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;

  @media (max-width: $tablet-width-max) {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width-max) {
    min-height: 83px;
    padding: 0 10px;
  }
}

.header__promo p {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;
  opacity: 0.8;
  padding: 0;
  margin: 0;

  @media (max-width: $tablet-width-max) {
    font-size: 18px;
  }

  @media (max-width: $mobile-width-max) {
    padding: 0 10px;
  }
}

.header__application h2 {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.005em;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 19px;

  @media (max-width: $tablet-width-max) {
    color: $color-black;
    font-size: 18px;
    margin-top: 70px;
    margin-bottom: 28px;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 70px;
    padding: 0 10px;
    margin-bottom: 20px;
  }
}

.header__application {
  max-width: 327px;
}

.header__application form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__application input {
  width: 327px;
  min-height: 45px;
  background: $color-white;
  border: 1px solid $color-white-light;
  border-radius: 6px;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 20px;
  padding: 13px 30px 10px 30px;
  letter-spacing: 0.15px;
  cursor: pointer;

  @media (max-width: $tablet-width-max) {
    width: 321px;
    padding-left: 22px;
  }

  @media (max-width: $mobile-width-max) {
    width: 288px;
    padding-left: 26px;
    margin-bottom: 19px;
  }

  &:hover,
  &:focus {
    background-color: $color-grey-white;
  }
}

.header__application input::placeholder {
  color: $color-black-light;
  opacity: 0.5;
}

.header__application button {
  width: 325px;
  min-height: 51px;
  border-radius: 6px;
  background-color: $color-green;
  color: $color-black;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  padding: 0;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-green-focus;
    transition: 0.7s;
  }

  &:active {
    opacity: 0.9;
  }

  &:not(:hover) {
    transition: 0.7s;
  }

  @media (max-width: $tablet-width-max) {
    width: 321px;
  }

  @media (max-width: $mobile-width-max) {
    width: 286px;
  }
}
