.main-navigation {
  position: relative;
  max-width: 873px;
  margin: 0 auto;
  padding: 0 15px;
  border-bottom: 1px solid $color-grey-light;
  background-color: transparent;
  z-index: 10;

  @media (max-width: $tablet-width-max) {
    border-bottom: none;
    padding: 0;
    max-width: 1024px;
  }
}

.main-navigation__logo {
  position: absolute;
  top: 317px;
  left: -3px;

  @media (max-width: $tablet-width-max) {
    top: 25px;
    left: 22px;
  }

  @media (max-width: $mobile-width-max) {
    left: 17px;
  }
}

.main-navigation__toggle {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  background-color: $color-green;
  cursor: pointer;
  z-index: 2;

  @media (max-width: $tablet-width-max) {
    display: block;
  }
}

.main-navigation__list {
  padding: 0;
  margin: 0;
  list-style: none;
  min-height: 61px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;

  @media (max-width: $tablet-width-max) {
    padding: 0;
  }
}

.main-navigation__item {
  margin: 0 4px;
}

.main-navigation__link {
  color: $color-white-opacity;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.005em;

  &:hover,
  &:focus {
    color: $color-white;
  }

  &:active {
    opacity: 0.5;
  }
}

// .main-navigation--nojs .main-navigation__toggle {
//   @media (max-width: $tablet-width-max) {
//     display: none;
//   }
// }

// .main-navigation--nojs .main-navigation__item {
//   @media (max-width: $tablet-width-max) {
//     display: block;
//     width: 100%;
//   }
// }

// .main-navigation--nojs .main-navigation__menu {
//   @media (max-width: $tablet-width-max) {
//     width: 100%;
//   }
// }

// .main-navigation--nojs .main-navigation__logo {
//   @media (max-width: $tablet-width-max) {
//     display: none;
//   }
// }

.main-navigation--closed .main-navigation__toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 1px;
  background-color: $color-black;
  box-shadow: 0 7px 0 0, 0 -7px 0 0;
}

.main-navigation--closed .main-navigation__item {
  display: none;

  @media (min-width: $tablet-width-max) {
    display: block;
  }
}

.main-navigation--opened .main-navigation__toggle::before,
.main-navigation--opened .main-navigation__toggle::after {
  @media (max-width: $tablet-width-max) {
    content: "";
    position: absolute;
    top: 26px;
    left: 16px;
    width: 28px;
    height: 1px;
    background-color: $color-grey;
  }

  @media (max-width: $tablet-width-max) {
    left: 11px;
  }
}

.main-navigation--opened .main-navigation__toggle::before {
  @media (max-width: $tablet-width-max) {
    transform: rotate(45deg);
  }
}

.main-navigation--opened .main-navigation__toggle::after {
  @media (max-width: $tablet-width-max) {
    transform: rotate(-45deg);
  }
}

.main-navigation--opened .main-navigation__toggle {
  @media (max-width: $tablet-width-max) {
    background-color: $color-white;
    z-index: 3;
  }
}

.main-navigation--opened .main-navigation__list {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: $color-white;
  min-height: 568px;
}

.main-navigation--opened .main-navigation__item {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  margin: 0;
  min-height: 60px;
  margin-bottom: 30px;

  &::after {
    content: "";
    background-image: url("../../img/icon-arrow.svg");
    position: absolute;
    width: 17px;
    height: 17px;
    right: 16px;
    background-repeat: no-repeat;
  }
}

.main-navigation--opened .main-navigation__link {
  @media (max-width: $tablet-width-max) {
    color: $color-grey-dark;
    background-color: $color-white-dark;
    display: block;
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.3px;
    padding: 15px 10px 16px 16px;
    margin-top: -7px;
    font-weight: 400;

    &:hover,
    &:focus {
      background-color: $color-white-light;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

.main-navigation--opened .main-navigation__logo {
  @media (max-width: $tablet-width-max) {
    display: none;
  }
}
