.main-navigation {
  position: relative;
  max-width: 873px;
  margin: 0 auto;
  padding: 0 15px;
  border-bottom: 1px solid $color-grey-light;
  background-color: transparent;
  z-index: 10;

  @media (max-width: $tablet-width-max) {
    border-bottom: none;
    padding: 0;
    max-width: 1024px;
  }
}

.main-navigation img {
  position: absolute;
  top: 317px;
  left: -3px;

  @media (max-width: $tablet-width-max) {
    top: 25px;
    left: 22px;
  }

  @media (max-width: $mobile-width-max) {
    left: 17px;
  }
}

.main-navigation button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  background-color: $color-green;
  cursor: pointer;
  z-index: 2;

  @media (max-width: $tablet-width-max) {
    display: block;
  }
}

.main-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  min-height: 61px;
  display: grid;
  grid-template-columns: 19% 27% 25% 22%;
  gap: 18px;
  padding-top: 21px;

  @media (max-width: $tablet-width-max) {
    display: block;
    padding-top: 0;
    min-height: auto;
  }
}

.main-navigation li {
  &:nth-of-type(4n+1) {
    text-align: start;
    margin-left: 4px;
  }

  &:nth-of-type(4n+2) {
    text-align: start;
  }

  &:nth-of-type(4n+3) {
    text-align: end;
  }

  &:nth-of-type(4n) {
    text-align: end;
  }

  @media (max-width: $tablet-width-max) {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    margin: 0;
    min-height: 60px;
    margin-bottom: 30px;

    &:nth-of-type(4n+1) {
      margin-left: 0;
    }

    &:nth-of-type(4n+3) {
      text-align: start;
    }

    &:nth-of-type(4n) {
      text-align: start;
    }

    &::after {
      content: "";
      background-image: url("../../img/icon-arrow.svg");
      position: absolute;
      width: 17px;
      height: 17px;
      right: 16px;
      background-repeat: no-repeat;
    }
  }
}

.main-navigation a {
  color: $color-white-opacity;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.005em;

  &:hover,
  &:focus {
    color: $color-white;
    transition: 0.3s;
  }

  &:active {
    opacity: 0.5;
  }

  &:not(:hover) {
    transition: 0.3s;
  }

  @media (max-width: $tablet-width-max) {
    color: $color-grey-dark;
    background-color: $color-white-dark;
    display: block;
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.3px;
    padding: 15px 10px 16px 16px;
    font-weight: 400;

    &:hover,
    &:focus {
      background-color: $color-white-light;
      transition: 0.3s;
    }

    &:active {
      opacity: 0.5;
    }

    &:not(:hover) {
      transition: 0.3s;
    }
  }
}

.main-navigation--closed button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 1px;
  background-color: $color-black;
  box-shadow: 0 7px 0 0, 0 -7px 0 0;
}

.main-navigation--closed li {
  display: none;

  @media (min-width: $tablet-width-max) {
    display: block;
  }
}

.main-navigation--opened button::before,
.main-navigation--opened button::after {
  @media (max-width: $tablet-width-max) {
    content: "";
    position: absolute;
    top: 26px;
    left: 16px;
    width: 28px;
    height: 1px;
    background-color: $color-grey;
  }

  @media (max-width: $tablet-width-max) {
    left: 11px;
  }
}

.main-navigation--opened button::before {
  @media (max-width: $tablet-width-max) {
    transform: rotate(45deg);
  }
}

.main-navigation--opened button::after {
  @media (max-width: $tablet-width-max) {
    transform: rotate(-45deg);
  }
}

.main-navigation--opened button {
  @media (max-width: $tablet-width-max) {
    background-color: $color-white;
    z-index: 3;
  }
}

.main-navigation--opened ul {
  @media (max-width: $tablet-width-max) {
    background-color: $color-white;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding-top: 100px;
  }
}

.main-navigation--opened img {
  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.main-navigation--nojs {
  @media (max-width: $tablet-width-max) {
    min-height: 57px;
  }
}

.main-navigation--nojs button {
  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.main-navigation--nojs a {
  @media (max-width: $tablet-width-max) {
    display: block;
  }
}

.main-navigation--nojs ul {
  @media (max-width: $tablet-width-max) {
    background-color: $color-white;
    padding-top: 0;
    width: 100%;
  }
}

.main-navigation--nojs li {
  @media (max-width: $tablet-width-max) {
    display: block;
    width: 100%;
    border-bottom: 1px solid $color-grey;
    margin-bottom: 0;

    &::after {
      bottom: 20px;
    }
  }
}

.main-navigation--nojs img {
  @media (max-width: $tablet-width-max) {
    display: none;
  }
}
