.video {
  background-color: $color-black-night;
  min-height: 706px;
  margin-bottom: 98px;
  padding-bottom: 1px;

  @media (max-width: $tablet-width-max) {
    min-height: 413px;
    margin-bottom: 85px;
  }

  @media (max-width: $mobile-width-max) {
    min-height: 384px;
    margin-bottom: 49px;
  }
}

.video__wrapper {
  color: $color-white;
  text-align: center;

  @media (max-width: $mobile-width-max) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.video__wrapper h2 {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  padding-top: 118px;
  padding-bottom: 20px;

  @media (max-width: $tablet-width-max) {
    font-size: 24px;
    padding-top: 70px;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 83px;
  }
}

.video__wrapper p {
  padding: 0;
  margin: 0 auto;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  opacity: 0.5;
  padding-bottom: 56px;
  max-width: 340px;

  @media (max-width: $tablet-width-max) {
    max-width: 440px;
    padding-bottom: 40px;
  }

  @media (max-width: $mobile-width-max) {
    padding-bottom: 54px;
  }
}

.video__container {
  position: relative;
  margin-bottom: -100px;
}

.video__container img {
  cursor: pointer;

  @media (max-width: $tablet-width-max) {
    width: 503px;
    height: 282px;
  }

  @media (max-width: $mobile-width-max) {
    width: 288px;
    height: 162px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 2px 1px $color-green;
  }
}

.video__container button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 50%;
  background-color: $color-green;
  cursor: pointer;
  z-index: 1;

  @media (max-width: $tablet-width-max) {
    width: 90px;
    height: 90px;
  }

  @media (max-width: $mobile-width-max) {
    width: 65px;
    height: 65px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 5px 1px $color-green;
    transition: 0.7s;
  }

  &:active {
    opacity: 0.5;
  }

  &:not(:hover) {
    transition: 0.7s;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 19px;
    transform: translate(-50%, -50%);
    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;
  }
}
