//Colors
$color-white: #ffffff;
$color-white-opacity: rgba(255, 255, 255, 0.7);
$color-white-light: #c9ccd4;
$color-white-dark: #f6f6f6;
$color-black: #000000;
$color-black-night: #131314;
$color-black-dark: #1f1f1f;
$color-black-light: #1c1c1c;
$color-grey: rgba(20, 21, 23, 0.2);
$color-grey-light: rgba(255, 255, 255, 0.2);
$color-grey-white: #f6f7f9;
$color-grey-dark: #48494d;
$color-grey-night: rgba(0, 0, 0, 0.7);
$color-grey-night-light: rgba(0, 0, 0, 0.5);
$color-grey-night-light-focus: rgba(0, 0, 0, 0.9);
$color-green: #0ad9c6;
$color-green-focus: #00ffe5;

//Viewports
$desktop-width-max: 1440px;
$tablet-width-max: 1023px;
$mobile-width-max: 767px;
